html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: $font-family;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
li{
    list-style-type: none;
}
a{
    color:#333;
    text-decoration: none;
}